.main {
    background-color: #00cc8c;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    min-height: 100vh;
  }
  
  .center {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 1rem 0;
  }

.centerVert {
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 1rem 0;
}

.teamScore {
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 1rem 0;
  text-align: center;
  width: 400px;
}

.teamScoreHorizontal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 400px;
}

.enterButton {
    background-color: blueviolet;
    padding: 10px;
    border-radius: 10px;
    color: white;
    cursor: pointer;
}

.input {
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
}


.TeamText {
  color: white;
  margin-left: 5%;
  margin-right: 5%;
  text-align: center;
}

.teamNameContainer {
  justify-content: center;
  align-items: center;
  margin-left: 100px;
  padding: 5px;
  width: 200px;
  background-color: #149CE9;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.finishGameContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 1rem 0;
  width: 400px;
}